
td,
tr {
    border: 3px solid green;
    font-size: 120%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap-mode:nowrap;
}

table {
    border-collapse: collapse;
    margin-top: 4%;
    margin-bottom: auto;  
}


.center {
    float: inline-end;    
}
.right {
    float: right;
}
p,h1 {
    font-size: larger; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}