td,
tr {
    font-size: 1.5vw;

    padding-right: 5vw;
    padding-bottom: 0.5vw;
    padding-top: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap-mode: nowrap;
}

#headOwn {
    margin-top: 1vw;
    padding-left: 3vw;
    padding-right: 2vw;
    font-size: 2vw;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-bottom: auto;
}


.center {
    float: inline-end;
}

.right {
    float: right;
}

.code {
    font-family: monospace;
    box-shadow: 1px 2px 3px red;
    border: 1px solid black;
    background-color: beige;
    display: inline-block;
    margin-bottom: 3vw;
}

#toc {
    margin-top: 10vw;
    padding: 1vw;
    box-shadow: 2px 3px 3px black;
    border: 0.2vw solid black;
    border-radius: 1vw;
    background-color: beige;
    margin-left: 5vw;
    margin-right: 65vw;
}

image,
video,
audio {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p,
li {
    font-size: 1.5vw;
}

h1 {
    font-size: 3vw;
}

.indent {
    padding-left: 36px;
    text-indent: -36px;
}